# {{ ansible_managed }}

{% for command, value in chrony_commands.iteritems()|sort %}
{%   if value is sameas true %}
{{ command }}
{%   elif value is string or v is number %}
{{ command }} {{ value }}
{%   else %}
{%     for v in value %}
{{ command }} {{ value }}
{%     endfor %}
{%   endif %}
{% endfor %}
